.container {
    width: 1200px;
    margin: 0 auto;
}

.btn-primary {
    margin: 20px 0;
    background-color: #00ffbf!important;
}

.mb-3 {
    margin-top: 30px;
}

form {
    margin: 0 auto;
    width: 50%
}
form button {
    width: 100%;
}