html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;

}

ul li {
    display: flex;
    
}

p {
    text-align: justify;
}