.div1 {
    background-color: #808080;
    height: 200px;
}

.div2 {
    background-color: #fdff00;
    float: left;
    width: 300px;
    height: 500px;
}

.div3 {
    background-color: #ff0000;
    width: 200px;
    float: left;
    height: 200px;
}

.div4 {
    background-color: #008100;
    float: left;
    margin-top:200px;
    margin-left: -200px;
    width: 600px;
    height: 200px;

}

div {
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}