.container {
    width: 1200px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px 9px 0px 9px;
}

.modal-content {
    background: #FBFBFB;
    border-radius: 7px;
    color: #121212;
    padding: 32px 56px 64px 56px;
    margin: 5% auto 15% auto;
    max-width: 495px;
}

.modal__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 24px;
}

.modal__form-box {
    margin-bottom: 24px;
}

.modal__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.modal__input {
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background: #FBFBFB;
    border: 1.5px solid rgba(18, 18, 18, 0.3);
    border-radius: 4px;
    margin-top: 12px;
}

.modal_checkbox {
    margin-bottom: 10px;
}

input:focus::placeholder {
    color: transparent;
}

.button__form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__form-login {
    background: linear-gradient(114.17deg, #FB8CFD 74.81%, #FB73EC 88.75%, #FC50FF 105.84%);
    border-radius: 50px;
    color: #121212;
    padding: 14px;
    cursor: pointer;
    width: 285px;
}

.button__form-login:hover,
.button__form-registr:hover {
    transform: scale(1.1);
}

.button__form-login:focus,
.button__form-registr:focus {
    transform: scale(1);
}

.button__form-regs {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #121212;
    background: transparent;
    padding: 14px;
    cursor: pointer;
    width: 285px;
    margin-bottom: 12px;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.modal-reg {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px 9px 0px 9px;
}

.modal-content-reg {
    background: #FBFBFB;
    border-radius: 7px;
    color: #121212;
    padding: 32px 56px 64px 56px;
    margin: 5% auto 15% auto;
    max-width: 495px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.modal__title-reg {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 24px;
}

.modal__form-box-reg {
    margin-bottom: 16px;
}

.modal__form-box-reg:last-child {
    margin-bottom: 34px;
}

.modal__label-reg {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.modal__input-reg {
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background: #FBFBFB;
    border: 1.5px solid rgba(18, 18, 18, 0.3);
    border-radius: 4px;
    margin-top: 12px;
}

.button__form-box-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.button__form-registr {
    background: linear-gradient(114.17deg, #FB8CFD 74.81%, #FB73EC 88.75%, #FC50FF 105.84%);
    border-radius: 50px;
    color: #121212;
    padding: 14px;
    cursor: pointer;
    width: 285px;
    padding: 14.5px;
    cursor: pointer;
    width: 285px;
}