.container {
    width: 1200px;
    margin: 0 auto;
}

.red-border-box {
    border: 2px solid #FF0000;
    width: 200px;
    height: 200px;
    position: absolute;
}

.blue-border-box {
    border: 2px solid #0000FF;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 250px;
}

.green-border-box {
    border: 2px solid #00FF00;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 500px;
}

.red-box {
    width: 200px;
    height: 200px;
    background-color: #ff8888;
    position: absolute;
    z-index: 999;
}

.blue-box {
    width: 200px;
    height: 200px;
    background-color: #7e89eb;
    position: absolute;
    margin-top: 120px;
    margin-left: 120px;
}

.green-box {
    width: 200px;
    height: 200px;
    background-color: #4dee99;
    position: absolute;
    margin-top: 240px;
    margin-left: 240px;
}

.task03 {
    border: 1px solid #000000;
    width: 300px;
    height: 800px;
}

.red-circle {
    background-color: #FF0000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    border: 1px solid #000000;
}

.yellow-circle {
    background-color: #ffff00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    border: 1px solid #000000;
}

.green-circle {
    background-color: #008000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    border: 1px solid #000000;
}

.lorem {
    font-size: 25px;
}

.fixed{
    position: fixed;
    bottom: 0;
    background-color: #b43273;
    color: #FFFFFF;
    width: 1200px;
    padding: 30px 0;
    text-align: center;
    font-size: 25px;
}

.pink-border {
    border: 1px solid #b43273;
    border-right: 0;
    border-radius: 1%;
}

.task04 {
    padding: 20px;
    color: #b43273
}

.task04 h1 {
    font-size: 45px;
}