.container {
    width: 1200px;
    margin: 0 auto;
}

@keyframes loading {
	0% {width: 0%;}
	100% {width: 100%;}
}

.progress-bar {
    margin-top: 50px;
	height: 30px;
	border: 1px solid red;

}

.loading {
   	background: red;
	width: 0%;
	height: 30px;
	animation: loading 16s linear infinite -8s;
}

@keyframes ball {
	40%, 70%, 90% {
		animation-timing-function: ease-out;
		bottom: 0;
	}

	0% {
		bottom: 200px;
		left: 0;
		animation-timing-function: ease-in;
	}

	55% {
		bottom: 50px;
		animation-timing-function: ease-in;
	}

	80% {
		bottom: 25px;
		animation-timing-function: ease-in;
	}

	95% {
		bottom: 10px;
		animation-timing-function: ease-in;
	}

	100% {
		left: 110px;
		bottom: 0;
		animation-timing-function: ease-out;
	}
}


.box {
	margin: 0px auto;
	width: 220px;
	height: 220px;
	border: 1px solid red;
	position: relative;
}

.ball {
	background: red;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	animation: ball 5s infinite;
}